.breck
{
  width: 300px;
}

.first_note
{
  color: white;
}

.botanic
{
  width: 300px;
}

.concert
{
  width: 300px;
}

.first_note
{
  font-size: 30px;
  font-weight: bold;
}

.ily
{
  font-weight: bold;
  width: 213px;
}

.ily_t
{
  cursor: pointer;
  background-color: green;
}

.ily_t:hover
{
  text-decoration: underline;
}

.ily_f
{
  cursor: pointer;
  background-color: red;
}

.ily_f:hover
{
  text-decoration: underline;
}

body
{
  background-size: cover;
  background-image: url(images/hearts_background.jpg);
}
